.PatientRow:hover {
    background-color: #DFE7F2 !important;
    color: #000000
  }

  .SecondRow:hover {
    background-color: #fff282 !important;
    color: #000000
  }

  .SecondRow2:hover {
    background-color: #8ad4ff !important;
    color: #000000
  }

  /*
  background: linear-gradient(rgba(32, 56, 82, 0.1), rgba(64, 102, 164, 0.1), rgba(32, 56, 82, 0.1));
  .PatientRow td{
    border-bottom-width:2px;
    border-style: rgba(9,12,41);
  }*/
  .size14 {
    font-size: 14px;
  }

  .SecondRow2 td,
  .SecondRow2 th {
    border-color: black;
  }

  .SecondRow td,
  .SecondRow th {
    border-color: black;
  }

  .center {
    line-height: 40px;
    text-align: center;
  }